<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%highlight{%d [%-5p] %C{1}.%M(%F:%L) - %m%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=white, DEBUG=green bold, TRACE=blue}"/>
        </Console>
        <RollingFile name="error-log" fileName="${log-path}/error.log"
                     filePattern="${log-path}/error-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d [%-6p] %C{1}.%M(%F:%L) - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all" additivity="false">
            <AppenderRef ref="console-log"/>
            <AppenderRef ref="error-log"/>
        </Root>
    </Loggers>
</Configuration>
